doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js')
    script(src='/javascripts/sketch.min.js')
    script(src='/javascripts/main.js')

  body
    block content
